[role="button"] {
  cursor: pointer;
  outline: none;
}

.tableCategories {
  padding: 14px 30px;
  border: solid 1px $color_border;
  min-height: 63vh;

  .table {
    margin-bottom: 0;

    thead {
      tr {
        border-top: solid white;
        th {
          font-weight: bold;
          font-size: 17px;
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
}

.btn-del {
  cursor: pointer;
}
